<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Registrar horas</strong>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="project">Proyecto</label>
            <ngx-select 
            [allowClear]="true"
            [items]="Projects"
            [(ngModel)]="ProjectId"
            (select)="projectSelect($event)"
            placeholder="Ningún projecto seleccionado">
          </ngx-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="">Fecha</label>
            <form>
              <div class="input-group">
                  <input class="form-control" style="float:none" placeholder="Seleccione una fecha" ngx-mydatepicker name="mydate"
                         [(ngModel)]="model" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
          
                  <span class="input-group-btn">
<!--                       <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                          <i class="fa fa-close"></i>
                      </button> -->
                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                          <i class="fa fa-calendar"></i>
                      </button>
                  </span>
              </div>
          </form>
          </div>
          <div class="col-sm-4">
            <div class="form-group has-success">
              <label for="hours">Horas</label>
              <input type="number" class="form-control " id="hours" placeholder="Horas" [(ngModel)]="hours">
<!--               <span class="help-block">Puedes ingresar el tiempo tanto en horas como en</span> -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="minutes">Minutos</label>
              <input type="number" class="form-control" id="minutes" placeholder="Minutos" [(ngModel)]="minutes">
<!--               <span class="help-block">Please enter your email</span> -->
            </div>
          </div>
        </div><!--/.row-->
        
      </div>
      <div class="card-footer" style="justify-content: flex-end;">
        <button type="submit" class="btn btn-sm btn-primary"  (click)="logHours()"><i class="fa fa-dot-circle-o"></i> Registrar</button>
        <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button> -->
      </div>
    </div>
    
  </div><!--/.col-->
</div>