<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Pagina no encontrada</h4>
          <p class="text-muted">Puedes volver al login dando click al boton de abajo</p>

          <button class="btn btn-info float-right" type="button" routerLinkActive="active" [routerLink]="['/pages/login']">Volver a la página de login</button>
        </div>

          
        
      </div>
    </div>
  </div>
</div>
