<div class="animated fadeIn">
    <!-- -->
    <div class="row">
      <div class="col-lg-6 mt-3">
      <!-- Infoclients card -->
        <div class="card">
              <div class="card-header">           
        <i class="fa fa-align-justify"></i> Clientes
              </div>
              <div class="card-body">
                
                <table class="table nomarginbottom" >
                  <thead>
                    <tr>
                      <th>Nombre</th>              
                      <th>E-mail</th>
                      <th>Proyectos</th>
                      <th>Opciones</th>              
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of this.resultClients">
                      <td>{{client.name}}</td>
                      <td>{{client.email}}</td>
                      <td class="center">
                      <button class="btn btn-primary" type="button" (click)=getProjectsByClientId(client._id) #openBtn><i class="fa fa-star"></i>&nbsp; Ver Proyectos</button>
                      </td>
                      <td class="center">
                      <span class="text-primary h4 col-lg-6"><i class="fa fa-pencil"  style="cursor: pointer;" (click)=updateClient(client._id)></i></span>
                      <span class="text-danger h4 col-lg-6"><i class="fa fa-trash"  style="cursor: pointer;" (click)=removeClient(client._id)></i> </span>        
                      </td>
                    </tr>
                  </tbody>
                </table>    
                <div class="modal-footer">                    
            <button type="button" class="btn btn-sm btn-primary" (click)="infoModal.show()" (click)="cleanModal()" >
                Agregar Cliente
              </button>
          </div>

      </div>    
      </div>
    </div>
    <!-- Update card -->
    <div class="col-lg-6 mt-3">
    <div class="card" style="display:none;" id="updatecard">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Editar Cliente
        </div>
        <div class="card-body">
          
           <table class="table nomarginbottom" >
            <thead>
              <tr>
                <th>Nombre</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                 <td >
                   <input class="form-control" id="name-update" name="name-update" placeholder="" type="text" [(ngModel)]="nameupdate">
                 </td>
                 <td >
                    <input class="form-control col-lg-16" id="email-update" name="email-update" placeholder="" type="text" [(ngModel)]="emailupdate">
                  </td>
                 
              </tr>
            </tbody>
          </table>
          
          
    
          <div class="modal-footer">
          
          
              <button type="button" class="btn btn-sm btn-primary" (click)="saveChanges()">
                  Guardar cambios
                </button>
                
                <button type="button" class="btn btn-sm btn-secondary" (click)="cancel()">
                    Cancelar
                  </button>
                </div>
              
            
        </div>
        </div>    
        
      </div> 
        
   </div>  <!-- Fin de row de Clientes -->  
   
  <!-- Row de proyectos de clientes --> 
   <div class="row">

      <div class="col-lg-6 paddintablesmin" >
          <!-- InfoProyects card -->
            <div class="card" style="display:none;" id="proyectscard">
                  <div class="card-header">           
            <i class="fa fa-align-justify"></i> Proyectos
                  </div>
                  <div class="card-body">
                    
                    <table class="table nomarginbottom" >
                      <thead>
                        <tr>
                          <th>Nombre</th>              
                          <th>Descripcion</th>    
                          <th>Rate</th>                
                          <th>Opciones</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let project of this.resultProjects">
                          <td>{{project.name}}</td>
                          <td>{{project.description}}</td>
                          <td class="center">${{project.rate.toFixed(1)}}</td>
                          <td class="center">                          
                          <span class="text-danger h4"><i class="fa fa-trash"  style="cursor: pointer;" (click)=removeProjectFromClient(project._id)></i> </span>        
                          </td>
                        </tr>
                      </tbody>
                    </table>
            
                    <div class="modal-footer">
            
                <button type="button" class="btn btn-sm btn-primary" (click)="showAddProyect()" (click)="showAllProjects()">
                    Agregar Proyecto
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="cancelProjects()">
                      Cerrar
                    </button>
                  </div>
              
          </div>    
          </div>
        </div>      
         <!-- AddProject card -->
          <div class="col-lg-6">
            <div class="card" style="display:none;" id="addproject">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i> Agregar Proyecto
                </div>
                <div class="card-body">
                                       
                        <ngx-select                   
                        [items]="Projects"                        
                        [(ngModel)]="newproject"
                        placeholder="Seleccionar proyecto">                       
                        </ngx-select>
                  <br>
                  <div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-primary" (click)="saveProjectAdded()">
                          Guardar cambios
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelAddProject()">
                            Cerrar
                          </button>
                      </div>
                  </div>
                </div>
                </div>    
                
              </div>  


   </div> <!-- Fin de row -->

</div> <!-- Fin de animated -->

  <!-- Infomodal -->
  <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nuevo Cliente</h4>
            <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" id="name-input" name="name-input" placeholder="Ingresar Nombre" type="text" [(ngModel)]="name">
          </div>
            <br>
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input class="form-control" id="email-input" name="email-input" placeholder="Ingresar Email" type="email" [(ngModel)]="email">
          </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-primary" (click)="addClient($event)" >Agregar cliente</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="infoModal.hide()" #closeBtn>Cerrar</button>            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    