<div class="animated fadeIn">
  <div class="card">
      <div class="card-header">
        Parametros
      </div>
      <div class="card-body">
        <div class="row">
            <div class="form-group col-sm-3">
              <label for="">Rango de fechas</label>
              <form>
                    <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                    (dateRangeChanged)="onDateRangeChanged($event)"
                    [(ngModel)]="model" required></my-date-range-picker>
            </form>
            </div>
            <div class="form-group col-sm-3">
              <label for="">Frecuencia</label>
              <ngx-select 
              [allowClear]="true"
              [items]="Frec"
              [(ngModel)]="frecText"
              (select)="frecSelect($event)"
              placeholder="Error: contacte al programador">
              </ngx-select>
            </div>
            <div class="form-group col-sm-3">
              <label for="">Vista</label>
              <ngx-select 
              [allowClear]="true"
              [items]="Views"
              [(ngModel)]="View"
              (select)="viewSelect($event)"
              placeholder="Error: contacte al programador">
              </ngx-select>
            </div>
            <div class="form-group col-sm-3">
              <label for="">Estadistica</label>
              <ngx-select 
              [allowClear]="true"
              [items]="Types"
              [(ngModel)]="Type"
              (select)="typeSelect($event)"
              placeholder="Seleccione una estadistica a mostrar">
              </ngx-select>
            </div>
          </div>
      </div>
    </div>
  <div class="card-columns cols-2" [ngSwitch]="Type">
    <div class="card" *ngSwitchCase="1">
      <div class="card-header">
        Porcentaje de utilización
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary"  (click)="getUtilPercent()"><i class="fa fa-dot-circle-o"></i> Porcentaje de utilización</button>
    </div>
    <!-- <div class="card">
      <div class="card-header">
        Bar Chart
        <div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Doughnut Chart
        <div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Radar Chart
        <div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Pie Chart
        <div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Polar Area Chart
        <div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div> -->
  </div>
</div>
